body{  background-color: rgb(255, 255, 255);
        color: rgb(23, 24, 24);
}

h1{
        font-family: "Open Sans", sans-serif;
        color: rgb(128, 7, 53);
}

.testecolor{
        color: rgb(158, 117, 4);
}
